<section class="admin-categories-index">
<div>
  <%= link_to '+ New Category', [:new, :admin, :category], class: 'btn btn-info' %>
</div>
  <div class="panel panel-default categories">

    <table class="table table-bordered">
      <tbody>
        <%= render @categories %>
      </tbody>
    </table>

  </div>

</section>